body {
    font-family: sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack items vertically */
    height: 100vh;
}

input {
    height: 25px;
    width: 450px;
    margin: 3px;
    padding: 3px;
    border: 2px solid #383838;
    border-radius: 10px;
    background-color: hsl(0, 0%, 10%);
    color: white;
    outline: none;
    background-image: url('../icons/link.png');
    background-size: 15px auto;
    background-position: 10px 8px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input:focus {
    border: 2px solid #e1e1e1;
}

h1{
    user-select: none;
}

#app {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center the elements horizontally */
}

h1 {
    margin-bottom: 20px; /* Space between the h1 and the next elements */
}

#row {
    display: flex;
    align-items: center; /* Align items horizontally in the center */
}

button {
    user-select: none;
    height: 33px;
    width: 6rem;
    border: 2px solid #383838;
    background-color: hsl(0, 0%, 10%);
    color: #e1e1e1;
    border-radius: 8px;
    margin-left: 5px; /* Add space between multiple buttons */
}

button:hover {
    background-color: hsl(0, 0%, 15%);
}

button:active {
    background-color: hsl(0, 0%, 20%);
}

.icon{
    width: 15px; 
    vertical-align: middle; 
    padding-right: 3px;
}

.flash{
    margin-top: 10px;
    height: 40px;
    color: #e1e1e1;
}